@media screen and (max-width: 480px) {
    #root {
        max-width: 100%;
        height: 100vh;
        border-radius: 0;

        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        border: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .record {
        height: 100%;
    }
    .keyboard {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 4.5rem);
        gap: 0.4rem;
        padding: 1rem;
        justify-content: center;
    }
}